.boost {
  @include flex();
  flex-direction: column;
  padding: 40px 0;
  background-color: $violet;
  background-image: url('/images/bg-boost-desktop.svg');
  h2 {
    @include h2();
    color: white;
    @include mobile {
      font-size: 30px;
    }
  }
}

footer {
  background-color: $dark-gray;
  @include flex();
  padding: $center;
  .links {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    ul li {
      padding: 5px;
      color: white;
      font-weight: bold;
      a {
        color: $grayish;
        font-weight: normal;
        font-size: 14px;
        &:hover {
          color: $cyan;
        }
      }
    }
    .redes {
      display: flex;
      li {
        a {
          color: white;
          font-size: 20px;
          padding: 0 5px;
          &:hover {
            color: $cyan;
          }
        }
      }
    }
  }
}

footer {
  @include tablet {
    flex-direction: column;
    text-align: center;
    .links {
      flex-direction: column;
      padding: 20px 0;
      ul {
        padding: 20px 0;
      }
    }
    .redes {
      justify-content: center;
      padding: 20px 0;
    }
  }
}
